section > div:first-child::before {
    content: "🔥";
    font-size: 30px;
}

section.stats-container > div:last-child{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

section.stats-container > div:last-child span {
    color:white
}
section.stats-container > div:last-child div {
    color:white
}

div.stats-grid:hover{
  box-shadow: 5px 5px 5px  rgba(176,164,176,1);
  transition: all .3s ease-in-out
    
}
section.workout-section > article.workout-plan:nth-child(3){
    background-color: rgba(255, 248, 186);
    border-left: solid orange;
    border-width: 5px;    
}